<div data-id="{ID}" class="sms-container" id="reply-{ID}">
	<div class="table sms {CLASS}">
		<div class="tr">
			<!-- BEGIN IMG_LEFT_BLOCK -->
			<div class="td img">
				{PROFILE_IMG}
			</div>
			<!-- END IMG_LEFT_BLOCK -->
			<div class="td message">
				<div>
					<blockquote class="blockquote photoswipe-gallery text-start">{MESSAGE}</blockquote>
					<footer class="blockquote-footer">
						<a class="text-muted" href="{URL}">{AUTHOR}</a>, <span class="date" data-date="{DATETIME}">{DATE}</span>.
					</footer>
					<div class="float-end ms-1">
						{DEL_BTN_FORM}
					</div>
				</div>
			</div>
			<!-- BEGIN IMG_RIGHT_BLOCK -->
			<div class="td img">
				{PROFILE_IMG}
			</div>
			<!-- END IMG_RIGHT_BLOCK -->
		</div>
	</div>
</div>